
<nav class="navbar navbar-dark bg-primary">
<div class="header">
    <span class="navbar-brand mb-0 h1">Portfolio Tracker</span>
 
    <div class="header-right">
      <a  routerLink="">Home</a>
      <a  routerLink="/StockCoreData">Stock Core Data</a>
      <a  routerLink="/addPortfolioData">Portfolio Data</a>
      <a  routerLink="/ListPortfolioData">Portfolio List</a>
      
      <a routerLink="">Mutual Fund</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
                 




