<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/StockCoreData">Stock List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addStockCoreData">Add Stock Data</a>
  </li>
</ul>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">NSE Code</th>
        <th scope="col">BSE code</th>
        <th scope="col">ISIN</th>
        <th scope="col">Industry</th>
        <th scope="col">Sector</th>
        <th scope="col">Face Value</th>
        <th scope="col">Listing Date</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let stock of stockCoreData">
        <td> <a routerLink="/editStockCoreData/{{stock.id}}" class="card-body flex">{{stock.company_name}}</a></td>
        <td> {{stock.nse_code }}</td>
        <td>{{stock.bse_code }}</td>
        <td>{{stock.isin}}</td>
        <td> {{stock.industry }}</td>
        <td> {{stock.sector }}</td>
        <td> {{stock.face_value }}</td>
        <td> {{stock.listed_date }}</td>
      </tr>

    </tbody>
  </table>
  <div class="col-md-4">
    <a class="btn btn-primary text-light" routerLink="/addStockCoreData">Add Stock Data</a>
</div>
